body {
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Poppins;
}


.login-form {
    background-color: beige;
    padding: 30px;
    border-radius: 15px; 
    width: 350px;
    display: flex;
    border: 1px solid grey;
}

.form-isi {
    padding: 10px;
    border-radius: 9px;
    border: 1px solid grey; 
}

label {
    font-weight: bold;
    margin-bottom: -10px; 
}
